.box {
    content-align: center middle;
    border: solid green;
    color: green;
}

CompletionScreen {
    align: center middle
}

#grid {
    border: solid green;
    width: 100%;
}

.outline {
    outline: round; 
    padding: 1 1 1 1;
}

#main_title{
    border: solid green;
    color: green;
}

Container {
    border: solid green;
}

VerticalScroll {
    border: solid blue;
}

Horizontal {
    border: solid red;
}